JIRA_BASE="https://anas-quazi.atlassian.net"
JIRA_LOGIN="anasquazi159@gmail.com"
JIRA_API_TOKEN="ATATT3xFfGF0Lg4jmM22ZSuCvFVRBnZeE_oKfk4uZUbgG2JAZycEf0oAxKhk6i5v5f5Li8pYaaDarOF_O6nX9rUzPLyEU9om0D-DK5V-gKuq1RT1thKH7dHdS68mhoZZeLDcZDsNeDtJ--UHyM-xTyZU8TAoDLo54QKOr-1kWQdshZUjU9Nx7hA=1F326C6A"
ACCOUNT_ID="712020:a080ede0-7c7f-4e5f-a735-8ca88b93dc5f"
